body{
    background-color: black;
    color: white;

}

h1{
    color: crimson;
    text-align: center;
}
p{

    color:rgb(99, 126, 149);
}

h2{
    color: cadetblue;
}

h3{
    color: cornflowerblue;
}

h4{
    color: cyan;
}

ol{
    color: rgb(142, 126, 192);
}